<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topscit.springboot1.dao.BuyMapper" >
  <resultMap id="BaseResultMap" type="com.topscit.springboot1.bean.Buy" >
    <id column="bid" property="bid" jdbcType="VARCHAR" />
    <result column="bstate" property="bstate" jdbcType="VARCHAR" />
    <result column="btime" property="btime" jdbcType="TIMESTAMP" />
    <result column="baddress" property="baddress" jdbcType="VARCHAR" />
    <result column="bman" property="bman" jdbcType="VARCHAR" />
    <result column="bremark" property="bremark" jdbcType="VARCHAR" />
    <result column="supplierId" property="supplierId" jdbcType="VARCHAR" />
    <result column="gupdate_time" property="gupdateTime" jdbcType="TIMESTAMP" />
    <association property="supplier" column="supplierId" javaType="com.topscit.springboot1.bean.Supplier">
        <id column="sid" property="sid" jdbcType="VARCHAR" />
    	<result column="sname" property="sname" jdbcType="VARCHAR" />
	    <result column="sphone" property="sphone" jdbcType="VARCHAR" />
	    <result column="saddress" property="saddress" jdbcType="VARCHAR" />
	    <result column="semail" property="semail" jdbcType="VARCHAR" />
	    <result column="saccount" property="saccount" jdbcType="VARCHAR" />
	    <result column="sstate" property="sstate" jdbcType="VARCHAR" />
	    <result column="sremark" property="sremark" jdbcType="VARCHAR" />
	    <result column="supdate_time" property="supdateTime" jdbcType="TIMESTAMP" />
	    <result column="screate_time" property="screateTime" jdbcType="TIMESTAMP" />
	    <result column="slogo" property="slogo" jdbcType="VARCHAR" />
    </association>
    <collection property="buyDetail" column="bdid" ofType="com.topscit.springboot1.bean.BuyDetail">
		<id column="bdid" property="bdid" jdbcType="VARCHAR" />
	    <result column="buyId" property="buyId" jdbcType="VARCHAR" />
	    <result column="partsId" property="partsId" jdbcType="VARCHAR" />
	    <result column="bdcount" property="bdcount" jdbcType="VARCHAR" />
	    <result column="bdprice" property="bdprice" jdbcType="VARCHAR" />
	    <result column="bdstate" property="bdstate" jdbcType="VARCHAR" />
	    <result column="bdman" property="bdman" jdbcType="VARCHAR" />
	    <result column="bdremark" property="bdremark" jdbcType="VARCHAR" />
	    <result column="bdupdate_time" property="bdupdateTime" jdbcType="TIMESTAMP" />
	     <association property="parts" column="partsId" javaType="com.topscit.springboot1.bean.Parts">
	        <id column="pid" property="pid" jdbcType="VARCHAR" />
		    <result column="pname" property="pname" jdbcType="VARCHAR" />
		    <result column="pexplain" property="pexplain" jdbcType="VARCHAR" />
		    <result column="punit" property="punit" jdbcType="VARCHAR" />
		    <result column="ptid" property="ptid" jdbcType="VARCHAR" />
		    <result column="pcount" property="pcount" jdbcType="VARCHAR" />
		    <result column="pdanger" property="pdanger" jdbcType="VARCHAR" />
		    <result column="pstate" property="pstate" jdbcType="VARCHAR" />
		    <result column="pprice" property="pprice" jdbcType="VARCHAR" />
		    <result column="premark" property="premark" jdbcType="VARCHAR" />
		    <result column="pupdate_time" property="pupdateTime" jdbcType="TIMESTAMP" />
		    <result column="pcreate_time" property="pcreateTime" jdbcType="TIMESTAMP" />
		    <result column="plogo" property="plogo" jdbcType="VARCHAR" />
			   <association property="storage" column="ptid" javaType="com.topscit.springboot1.bean.Storage">
		        <id column="storage_stid" property="stid" jdbcType="VARCHAR" />
		   		<result column="stname" property="stname" jdbcType="VARCHAR" />
		    	<result column="stremark" property="stremark" jdbcType="VARCHAR" />
		    	<result column="stupdate_time" property="stupdateTime" jdbcType="TIMESTAMP" />
		     </association>
  	     </association>
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    bid, bstate, btime, baddress, bman, bremark, supplierId, gupdate_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from buy
    where bid = #{bid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from buy
    where bid = #{bid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.topscit.springboot1.bean.Buy" >
    insert into buy (bid, bstate, btime, 
      baddress, bman, bremark, 
      supplierId, gupdate_time)
    values (#{bid,jdbcType=VARCHAR}, #{bstate,jdbcType=VARCHAR}, #{btime,jdbcType=TIMESTAMP}, 
      #{baddress,jdbcType=VARCHAR}, #{bman,jdbcType=VARCHAR}, #{bremark,jdbcType=VARCHAR}, 
      #{supplierId,jdbcType=VARCHAR}, #{gupdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.topscit.springboot1.bean.Buy" >
    insert into buy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        bid,
      </if>
      <if test="bstate != null" >
        bstate,
      </if>
      <if test="btime != null" >
        btime,
      </if>
      <if test="baddress != null" >
        baddress,
      </if>
      <if test="bman != null" >
        bman,
      </if>
      <if test="bremark != null" >
        bremark,
      </if>
      <if test="supplierId != null" >
        supplierId,
      </if>
      <if test="gupdateTime != null" >
        gupdate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        #{bid,jdbcType=VARCHAR},
      </if>
      <if test="bstate != null" >
        #{bstate,jdbcType=VARCHAR},
      </if>
      <if test="btime != null" >
        #{btime,jdbcType=TIMESTAMP},
      </if>
      <if test="baddress != null" >
        #{baddress,jdbcType=VARCHAR},
      </if>
      <if test="bman != null" >
        #{bman,jdbcType=VARCHAR},
      </if>
      <if test="bremark != null" >
        #{bremark,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="gupdateTime != null" >
        #{gupdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.topscit.springboot1.bean.Buy" >
    update buy
    <set >
      <if test="bstate != null" >
        bstate = #{bstate,jdbcType=VARCHAR},
      </if>
      <if test="btime != null" >
        btime = #{btime,jdbcType=TIMESTAMP},
      </if>
      <if test="baddress != null" >
        baddress = #{baddress,jdbcType=VARCHAR},
      </if>
      <if test="bman != null" >
        bman = #{bman,jdbcType=VARCHAR},
      </if>
      <if test="bremark != null" >
        bremark = #{bremark,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        supplierId = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="gupdateTime != null" >
        gupdate_time = #{gupdateTime},
      </if>
      
    </set>
    where bid = #{bid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.topscit.springboot1.bean.Buy" >
    update buy
    set bstate = #{bstate,jdbcType=VARCHAR},
      btime = #{btime,jdbcType=TIMESTAMP},
      baddress = #{baddress,jdbcType=VARCHAR},
      bman = #{bman,jdbcType=VARCHAR},
      bremark = #{bremark,jdbcType=VARCHAR},
      supplierId = #{supplierId,jdbcType=VARCHAR},
      gupdate_time = #{gupdateTime,jdbcType=TIMESTAMP}
    where bid = #{bid,jdbcType=VARCHAR}
  </update>
  
  <select id="getAllBuy" resultMap="BaseResultMap" >
  	SELECT * FROM buy inner join supplier where buy.supplierId=supplier.sid
   </select>
   
   <select id="getBuyBy" resultMap="BaseResultMap" >
  	SELECT * FROM buy inner join supplier where buy.supplierId=supplier.sid and buy.bid=#{bid}
   </select>
   
   	 <select id="getAllBuyIn" resultMap="BaseResultMap" >
	SELECT * FROM buy b inner JOIN supplier s
	on  b.supplierId = s.sid inner join buy_detail bd on b.bid=bd.buyId
	inner join parts p on p.pid=bd.partsId inner join `storage` ss on ss.stid=p.ptid
	where bd.bdstate="1"
   </select>	
   	
	 <select id="getBuyByTime" resultMap="BaseResultMap">
	     select * FROM buy inner join supplier where buy.supplierId=supplier.sid 
	     and buy.btime &gt;= CONCAT(#{beginDate},' 00:00:00')
	     and buy.btime &lt;= CONCAT(#{endDate},' 23:59:59')
	</select>  
	
</mapper>