<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topscit.springboot1.dao.PersonAffairsMapper" >
  <resultMap id="BaseResultMap" type="com.topscit.springboot1.bean.PersonAffairs" >
    <id column="paid" property="paid" jdbcType="VARCHAR" />
    <result column="nid" property="nid" jdbcType="VARCHAR" />
    <result column="did" property="did" jdbcType="VARCHAR" />
    <result column="tid" property="tid" jdbcType="VARCHAR" />
    <result column="wid" property="wid" jdbcType="VARCHAR" />
    <result column="sid" property="sid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    paid, nid, did, tid, wid, sid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from person_affairs
    where paid = #{paid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from person_affairs
    where paid = #{paid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.topscit.springboot1.bean.PersonAffairs" >
    insert into person_affairs (paid, nid, did, 
      tid, wid, sid)
    values (#{paid,jdbcType=VARCHAR}, #{nid,jdbcType=VARCHAR}, #{did,jdbcType=VARCHAR}, 
      #{tid,jdbcType=VARCHAR}, #{wid,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.topscit.springboot1.bean.PersonAffairs" >
    insert into person_affairs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paid != null" >
        paid,
      </if>
      <if test="nid != null" >
        nid,
      </if>
      <if test="did != null" >
        did,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="wid != null" >
        wid,
      </if>
      <if test="sid != null" >
        sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paid != null" >
        #{paid,jdbcType=VARCHAR},
      </if>
      <if test="nid != null" >
        #{nid,jdbcType=VARCHAR},
      </if>
      <if test="did != null" >
        #{did,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="wid != null" >
        #{wid,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.topscit.springboot1.bean.PersonAffairs" >
    update person_affairs
    <set >
      <if test="nid != null" >
        nid = #{nid,jdbcType=VARCHAR},
      </if>
      <if test="did != null" >
        did = #{did,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        tid = #{tid,jdbcType=VARCHAR},
      </if>
      <if test="wid != null" >
        wid = #{wid,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=VARCHAR},
      </if>
    </set>
    where paid = #{paid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.topscit.springboot1.bean.PersonAffairs" >
    update person_affairs
    set nid = #{nid,jdbcType=VARCHAR},
      did = #{did,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=VARCHAR},
      wid = #{wid,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=VARCHAR}
    where paid = #{paid,jdbcType=VARCHAR}
  </update>
</mapper>