<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topscit.springboot1.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.topscit.springboot1.bean.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="usercode" jdbcType="VARCHAR" property="usercode" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="ulogo" jdbcType="VARCHAR" property="ulogo" />
    <result column="operationtime" jdbcType="TIMESTAMP" property="operationtime" />
    <result column="jointime" jdbcType="TIMESTAMP" property="jointime" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="locked" jdbcType="VARCHAR" property="locked" />
  </resultMap>
  <sql id="Base_Column_List">
    id, usercode, username, password, salt, phone, ulogo, operationtime, jointime, idcard, 
    locked
  </sql>
  
   <select id="AllUser" resultMap="BaseResultMap">
     select * from sys_user  where locked!='3' and locked!='4'
  </select>
  
   <select id="AllDeleteUser" resultMap="BaseResultMap">
      select * from sys_user  where locked='3' and locked!='4'
  </select>
  
  <select id="DateUser" resultMap="BaseResultMap">
      select * from sys_user where  locked!='3' and locked!='4'
      <if test="name !=null">    
        and (usercode  LIKE #{name} OR id LIKE #{name} OR phone LIKE #{name} OR idcard LIKE #{name} )
      </if>    
     <if test="start != null">
        and jointime  >  #{start}
      </if>
      <if test="end!=null">
       and  jointime  &lt; #{end} 
      </if>  
      
  </select>
  
   <select id="DatedeleteUser" resultMap="BaseResultMap">
      select * from sys_user where  locked='3' and locked!='4'
      <if test="name !=null">    
        and (usercode  LIKE #{name} OR id LIKE #{name} OR phone LIKE #{name} OR idcard LIKE #{name} )
      </if>    
     <if test="start != null">
        and jointime  >  #{start}
      </if>
      <if test="end!=null">
       and  jointime  &lt; #{end} 
      </if>  
      
  </select>
  
  
   <select id="select" resultMap="BaseResultMap">
    select * from sys_user where usercode=#{name} and locked='0'
  </select>
  
  <select id="selectUser" resultMap="BaseResultMap">
    select * from sys_user where id=#{id}
  </select>
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.topscit.springboot1.bean.User">
    insert into sys_user (id, usercode, username, 
      password, salt, phone, 
      ulogo, operationtime, jointime, 
      idcard, locked)
    values (#{id,jdbcType=VARCHAR}, #{usercode,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{ulogo,jdbcType=VARCHAR}, #{operationtime,jdbcType=TIMESTAMP}, #{jointime,jdbcType=TIMESTAMP}, 
      #{idcard,jdbcType=VARCHAR}, #{locked,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.topscit.springboot1.bean.User">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="usercode != null">
        usercode,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="ulogo != null">
        ulogo,
      </if>
      <if test="operationtime != null">
        operationtime,
      </if>
      <if test="jointime != null">
        jointime,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
      <if test="locked != null">
        locked,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="usercode != null">
        #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="ulogo != null">
        #{ulogo,jdbcType=VARCHAR},
      </if>
      <if test="operationtime != null">
        #{operationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="jointime != null">
        #{jointime,jdbcType=TIMESTAMP},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="locked != null">
        #{locked,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.topscit.springboot1.bean.User">
    update sys_user
    <set>
      <if test="usercode != null">
        usercode = #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="ulogo != null">
        ulogo = #{ulogo,jdbcType=VARCHAR},
      </if>
      <if test="operationtime != null">
        operationtime = #{operationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="jointime != null">
        jointime = #{jointime,jdbcType=TIMESTAMP},
      </if>
      <if test="idcard != null">
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="locked != null">
        locked = #{locked,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
 
   <update id="updateByPrimaryKey" parameterType="com.topscit.springboot1.bean.User">
    update sys_user
    set 
      locked = #{locked},
      operationtime = #{operationtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

 
  
 
  

</mapper>